@{
    ViewBag.Title = "编辑/修改页面信息";
}
<!----------------------------------页面编辑对话框------------------------------------------->
<form id="edit_form" method="post" novalidate="novalidate" >
      <table id="page_tt" class="tablestyle" align="center" width="100%" border="0" cellpadding="0" cellspacing="0">            
        <tr>
            <td class="td1" width="40%">页面代码：</td>
            <td class="td2">
                <input type="text" id="t_ModuleCode" name="ModuleCode" required="true" missingMessage='必填' />
                <input type="hidden" id="t_ID" name="ID" value="0" />
                <input type="hidden" id="t_IsPage" name="IsPage" value="true" />
            </td>
        </tr>
        <tr>
            <td class="td1">页面名称：</td>
            <td class="td2">
                <input type="text" id="t_ModuleName" name="ModuleName" required="true" missingMessage='必填' />
            </td>
        </tr>
        <tr>
            <td class="td1">链接地址：</td>
            <td class="td2"><input type="text" id="t_PageUrl" name="PageUrl"/></td>
        </tr>
        <tr>
            <td class="td1">页面图标：</td>
            <td class="td2"><input type="text" id="t_Icon" name="Icon"/></td>
        </tr>
            <tr>
            <td class="td1">页面按钮：</td>
            <td class="td2">
                <div class="txt" style="float:left" id="DivText"></div>
                <input type="hidden" id="t_ButtonID" name="ButtonID" />
                <img class="hand" id="btnChoose" src="../../Content/images/Button/search.gif" alt="搜索" />
            </td>
        </tr>
        <tr>
            <td class="td1">是否禁用：</td>
            <td class="td2">
                <input type="checkbox" class="checkbox" id="t_IsDelete" name="IsDelete" value="true" />
            </td>
        </tr>
            <tr>
            <td class="td1">是否为统一数据录入页面：</td>
            <td class="td2">
                <input type="checkbox" class="checkbox" id="t_IsItem" name="IsItem" value="true" />
            </td>
        </tr>
    </table>    
</form>
 <div style="text-align:right;padding:5px;">
      <a class="easyui-linkbutton" iconCls="icon-ok" id="btnSave" href="javascript:void(0)">保存</a>
      <a class="easyui-linkbutton" iconCls="icon-cancel" id="btnClose" href="javascript:void(0)">取消</a>
</div>
<script type="text/javascript">
    $(function () {
        $("#edit_form input:text").each(function () {
            $(this).addClass('easyui-validatebox textbox txt');
            if ($(this).attr('required') || $(this).attr('validtype'))
                $(this).validatebox();
        });
        //加载数据
        if (getUrlParam("ID") != "") {
            $.get("/Admin/GetModel", { "ID": getUrlParam("ID") }, function (data) {
                if (data.status == 1) {
                    var model = data.model;
                    $("#edit_form").find("input").each(function () {
                        var val = model[this.name];
                        if (this.type == "text" || this.type == "hidden")
                            $(this).val(val);
                        else if (this.type == "checkbox")
                            $(this).attr("checked", val == "True");
                    });
                }
                else {
                    jqAlert('数据加载失败:' + data, 'error')
                }
            });
        }
        //保存数据
        $("#btnSave").click(function () {
            if ($("#edit_form").form('validate')) {
                $.ajax({
                    type: "POST",
                    url: "/Admin/SaveAction",
                    data: $("#edit_form").serializeArray(),
                    async: false,
                    success: function (data) {
                        if (data.status == 1) {//保存成功
                            window.parent.$("#tt_grid").datagrid("reload");
                            window.parent.$("#edit_win").window("close");
                        }
                        else {
                            jqAlert('保存失败:' + data, 'error')
                        }
                    }
                });
            }
        });
        $("#btnClose").click(function () {
            window.parent.$("#edit_win").window("close");
        });
    });
</script>