@{
    ViewBag.Title = "编辑/修改页面信息";
}
<!----------------------------------页面编辑对话框------------------------------------------->
<form id="form_edit" method="post" action="">
      <table id="page_tt" class="tablestyle" align="center" width="100%" border="0" cellpadding="0" cellspacing="0">            
        <tr>
            <td class="td1" width="40%">页面代码：</td>
            <td class="td2">
                <input type="text" id="t_ModuleCode" name="ModuleCode" required="true" missingMessage='必填' />
                <input type="hidden" id="t_ID" name="ID" value="0" />
                <input type="hidden" id="t_IsPage" name="IsPage" value="true" />
            </td>
        </tr>
        <tr>
            <td class="td1">页面名称：</td>
            <td class="td2">
                <input type="text" id="t_ModuleName" name="ModuleName" required="true" missingMessage='必填' />
            </td>
        </tr>
        <tr>
            <td class="td1">链接地址：</td>
            <td class="td2"><input type="text" id="t_PageUrl" name="PageUrl"/></td>
        </tr>
        <tr>
            <td class="td1">页面图标：</td>
            <td class="td2"><input type="text" id="t_Icon" name="Icon"/></td>
        </tr>
            <tr>
            <td class="td1">页面按钮：</td>
            <td class="td2">
                <div class="txt" style="float:left" id="DivText"></div>
                <input type="hidden" id="t_ButtonID" name="ButtonID" />
                <img class="hand" id="btnChoose" src="../../Content/images/Button/search.gif" alt="搜索" />
            </td>
        </tr>
        <tr>
            <td class="td1">是否禁用：</td>
            <td class="td2">
                <input type="checkbox" class="checkbox" id="t_IsDelete" name="IsDelete" value="true" />
            </td>
        </tr>
    </table>    
</form>
<div style="text-align:center;padding:2px">
      <a class="easyui-linkbutton" iconCls="icon-ok" id="btnSave" href="javascript:void(0)">保存</a>
      <a class="easyui-linkbutton" iconCls="icon-cancel" id="btnClose" href="javascript:void(0)">关闭</a>
</div>
<script type="text/javascript">
    $(function () {
        $("#form_edit input:text").each(function () {
            $(this).addClass('easyui-validatebox textbox txt');
            if ($(this).attr('required') || $(this).attr('validtype'))
                $(this).validatebox();
        });
        //保存数据
        $("#btnSave").click(function () {
            if ($("#form_edit").form('validate')) {
                $.ajax({
                    type: "POST",
                    url: "/Admin/SaveAction",
                    data: $("#form_edit").serializeArray(),
                    async: false,
                    success: function (data) {
                        if (data.status == 1) {//保存成功
                            parent.$("#tt_grid").datagrid("reload");
                            parent.$("#div_win_edit").window("close");
                        }
                        else {
                            jqAlert('保存失败:' + data, 'error')
                        }
                    }
                });
            }
        });
        $("#btnClose").click(function () {
            parent.$("#div_win_edit").window("close");
        });
    });
</script>