@{
    ViewBag.Title = "新增/编辑公司信息";
}
 <form id="form_edit" method="post" action="" style="padding:2px">
        <table width="100%" cellpadding="0" cellspacing="0" align="center" class="tablestyle" id="tt">
            <tr>
                <td class="td1" width="35%">公司代码：</td>
                <td class="td2">
                    <input id="t_Code" name="Code" style="width:130px"
                  /><input type="text" id="t_Suff_Code" name="Suff_Code" required="true" missingMessage='必填' style="width:50px" />
                    <input type="hidden" id="t_ItemNo" name="ItemNo" />
                    <input type="hidden" id="t_ItemID" name="ItemID" />
                    <input type="hidden" id="t_ID" name="ID" value="0" />
                </td>
            </tr>
            <tr>
                <td class="td1">公司名称：</td>
                <td class="td2">
                    <input type="text" id="t_ItemName" name="ItemName" required="true" missingMessage='必填' />
                </td>
            </tr>
            <tr>
                <td class="td1">公司简称：</td>
                <td class="td2">
                    <input type="text" id="t_ShortName" name="ShortName" />
                </td>
            </tr>
            <tr>
                <td class="td1">公司电话：</td>
                <td class="td2">
                    <input type="text" id="t_CompanyTel" name="CompanyTel" validtype="isTel" />
                </td>
            </tr>
            <tr>
                <td class="td1">公司地址：</td>
                <td class="td2">
                    <input type="text" id="t_CompanyAddress" name="CompanyAddress" />
                </td>
            </tr>
             <tr>
                <td class="td1">成立时间：</td>
                <td class="td2">
                    <input id="t_SetUpTime" name="SetUpTime" style="width:184px;" />
                </td>
            </tr>
            <tr>
                <td class="td1">是否禁用：</td>
                <td class="td2">
                    <input type="checkbox" id="t_IsDisabled" name="IsDisabled" value="true" />
                </td>
            </tr>
            <tr>
                <td class="td1">备注：</td>
                <td class="td2">
                     <textarea class="txtaa" id="t_Remark" name="Remark" rows="5" cols="30"></textarea>
                </td>
            </tr>
        </table>
</form>
<div style="text-align:center;padding:2px;">
    <a class="easyui-linkbutton" iconCls="icon-ok" id="btnSave" href="javascript:void(0)">保存</a>
    <a class="easyui-linkbutton" iconCls="icon-back" id="btnBack" href="javascript:void(0)">返回</a>
</div>

  <script type="text/javascript">
      var backUrl = encodeURI(getUrlParam('backUrl'));
      var id = getUrlParam("ID");
      $(function () {
          //添加textbox样式
          $("#form_edit input:text").each(function () {
              $(this).addClass('easyui-validatebox textbox txt');
              if ($(this).attr('required') || $(this).attr('validtype'))
                  $(this).validatebox();
          });
          $("#t_Code").combotree({
              url: '/Item/LoadComboTree?pageUrl=/Item/CompanyinfoManage',
              valueField: 'ID',
              textField: 'NodeCode',
              panelHeight: 'auto',
              required: true,
              missingMessage: '必填',
              onSelect: function (node) {
                  $("#t_ItemID").val(node.id);
              }
          });
          $("#t_SetUpTime").datebox({ editable: false });
          //保存
          $("#btnSave").click(function () {
              if ($("#form_edit").form('validate')) {
                  var suff_code = $("#t_Suff_Code").val().replace(/\./g, "");
                  $("#t_ItemNo").val($("#t_Code").textbox("getText") + suff_code);
                  $.ajax({
                      type: "post",
                      url: "/Item/SaveCompanyinfo",
                      data: $("#form_edit").serializeArray(),
                      async: false,
                      success: function (data) {
                          if (data.status == 1) {//保存成功
                              if (id > 0)
                                  jqAlert('保存成功.', 'info', backUrl + "&fromCache=false");
                              else
                                  jqAlert('保存成功.', 'info', '/Item/CompanyinfoManage?fromCache=false');
                          }
                          else {
                              jqAlert('保存失败:' + data, 'error')
                          }
                      }
                  });
              }
          });
          //返回
          $("#btnBack").click(function () {
              document.location = backUrl + "&fromCache=true";
          });
          //加载数据
          if (id > 0) {
              $.ajaxGet("/Item/GetCompanyinfo", { "id": id, "code": getUrlParam("code") }, function (data) {
                  if (data.status == 1) {
                      var model = eval(data.model)[0];
                      $("#form_edit input").each(function () {
                          var val = model[this.name];
                          if (this.type == "text" || this.type == "hidden") {
                              $(this).val(val);
                          }
                          else if (this.type == "checkbox") {
                              $(this).attr("checked", val == "True")
                          }
                      });
                      $("#t_SetUpTime").datebox('setValue', dateFormatter(model.SetUpTime));
                      $("#t_Remark").val(model.Remark);
                      var itemNo = model.ItemNo;
                      var len = itemNo.lastIndexOf(".") + 1;
                      $("#t_Code").combotree("setValue", itemNo.substr(0, len));
                      $("#t_Suff_Code").val(itemNo.substr(len));
                  }
                  else
                      jqAlert('数据加载失败:' + data, 'error')
              });
          }
      });
   </script>


