@{
    ViewBag.Title = "部门信息";
}

<div style="height:100%">
    <table class="easyui-datagrid" id="tt_grid" name="datagrid" width="100%" border="0"
           data-options="title:'部门信息',
                         url:encodeURI(url),
                         pageNumber:page,
                         pageSize:pagesize,
                         onLoadSuccess:loadSuccess,
                         fit:true,
                         rowStyler:rowstyler
                         ">
            <thead data-options="frozen:true">
                <tr>
                    <th data-options="field:'ck',checkbox:true"></th>
                    <th data-options="field:'ID',hidden:true,title:'ID'"></th>
                    <th data-options="field:'ItemID',hidden:true,title:'ItemID'"></th>
                </tr>
            </thead>
            <thead>
                <tr>
                    <th data-options="field:'ItemNo',align:'left',sortable:'true',where:'true'">部门代码</th>
                    <th data-options="field:'ItemName',where:'true'">部门名称</th>
                    <th data-options="field:'Manager',width:'80',align:'center'">部门主管</th>
                    <th data-options="field:'DepTel',width:'80',align:'center'">部门电话</th>
                    <th data-options="field:'DepFax',width:'80',align:'center'">传真</th>
                    <th data-options="field:'IsDisabled',align:'center',formatter:boolFormatter">是否禁用</th>
                </tr>
            </thead>
    </table>
    <div id="div_dialog_search" style="padding:2px;width:350px;top:30%;"></div>
    <div id="div_win_edit" style="width:80%;height:70%;padding:2px;overflow:hidden;"></div>
</div>

<script type="text/javascript">
    var page = getUrlParam('page') == '' ? 1 : parseInt(getUrlParam('page'));
    var pagesize = getUrlParam('pagesize') == '' ? 1 : getUrlParam('pagesize');
    var param = {
        "code": parent.$("#t_NodeCode").val(),
        "isDisabled": getUrlParam("choose") == "True" ? "1" : "",
        "where": getUrlParam1("where"),
        "fromCache": getUrlParam1("fromCache") == "false" ? false : true,
        "getUrl": function () {
            return '/Item/GetDepinfoList?fromCache=' + this.fromCache + '&code=' + this.code + '&disabled=' + this.isDisabled + '&where=' + param.where;
        }
    }
    var url = param.getUrl();
    $(function () {
        //获取工具条
        getTools();
        //调整datagrid大小
        datagridResize();
        //创建过滤查询对话框
        getWhereColumns($("#tt_grid"), function (col) {
            var href = '/Item/CreateWhereHTML?col=' + col;
            showMyDialog($("#div_dialog_search"), '筛选条件', 'tu1611', href, true, function () {
                var where = "";
                $("#ttSearch input:text").each(function () {
                    where += '{Key:"' + $(this).attr('name') + '",Value:"' + $.strFilter($(this).val()) + '",Symbol:"like"},';
                });
                if (where != "") {
                    where = "[" + $.trimend(where, ',') + "]";
                    param.where = where;
                    param.fromCache = false;
                    $('#tt_grid').datagrid('options').url = param.getUrl();
                    $("#tt_grid").datagrid('load');
                }
                $('#div_dialog_search').dialog('close');
            });
        });
    })
    var backUrl;
    var loadSuccess = function () {
        var p = $('#tt_grid').datagrid('getPager');
        var page = p.data("pagination").options.pageNumber;
        var size = p.data("pagination").options.pageSize;
        backUrl = '/Item/DepinfoManage?where=' + param.where + '&page=' + page + '&pagesize=' + size;
        hideMask(parent.$("#ul_tree"));
    }
    function getTools() {
        $.ajaxGet({
            url: "/Item/GettPermissionButtons?choose=" + getUrlParam("choose"),
            data: { pageUrl: "/Item/CompanyinfoManage" },
            success: function (data) {
                if (data.status == 1) {
                    if (data.buttons != "")
                        $("#tt_grid").datagrid("addToolbarItem", eval(data.buttons));
                }
                else
                    jqAlert('按钮加载失败' + data, 'warning')
            }
        });
    }

    // #region 按钮功能
    function toolbar_add() {
        document.location = '/Item/DepinfoEdit?code=' + param.code + '&backUrl=' + escape(backUrl) + '&ID=0';
    }
    function toolbar_edit() {
        var selections = $('#tt_grid').datagrid('getSelections');
        if (selections.length == 1) {
            document.location = '/Item/DepinfoEdit?code=' + param.code + '&backUrl=' + escape(backUrl) + '&ID=' + selections[0].ID;
        }
        else
            jqAlert('请选择一条记录！', 'warning')
    }
    function toolbar_delete() {
        var selections = $('#tt_grid').datagrid('getSelections');
        if (selections.valueOf() == '')
            jqAlert('请选择一条记录！', 'warning')
        else {
            var id = "(";
            for (var i = 0; i < selections.length; i++) {
                id += selections[i].ID + ",";
            }
            id += "-1)";
            uiConfirm("您确认要删除当前信息吗.", function () {
                $.post("/Item/DelDepinfo", { "ID": id }, function (data) {
                    if (data.status == 1) {
                        param.fromCache = false;
                        $('#tt_grid').datagrid('options').url = param.getUrl();
                        $("#tt_grid").datagrid('reload');
                    }
                    else
                        jqAlert('删除失败:' + data, 'error')
                });
            });
        }
    }
    function toolbar_search() {
        $('#div_dialog_search').dialog('open');
    }
    function toolbar_export() {
        getExportColumns($("#tt_grid"), function (data) {
            if (data != "") {
                $("#tt").datagrid('reload');
                var url = "/Item/ExportDepinfo?title=" + escape("公司信息") + "&columns=" + data;
                window.open(url);
            }
        });
    }
    //#endregion

    var boolFormatter = function (value) {
        if (value == "True") return "是"
        return "否";
    }
    var rowstyler = function (index, row) {
        if (row.IsDisabled == "True") {
            return 'color:#FF0000;';
        }
    }
    function reloadGird(code) {
        param.code = code;
        param.where = "";
        param.fromCache = true;
        $('#tt_grid').datagrid('options').url = param.getUrl();
        $("#tt_grid").datagrid('load');
    }
</script>