@{
    ViewBag.Title = "部门管理";
}
<div style="height:100%">
    <table class="easyui-datagrid" id="tt_grid" name="datagrid" width="100%" border="0"
           data-options="title:'部门信息',
                         url: url,
                         fit:true,
                         rowStyler:rowstyler,
                         toolbar:toolbar">
            <thead data-options="frozen:true">
                <tr>
                    <th data-options="field:'ck',checkbox:true"></th>
                    <th data-options="field:'ID',hidden:true,title:'ID'"></th>
                    <th data-options="field:'ItemID',hidden:true,title:'ItemID'"></th>
                </tr>
            </thead>
            <thead>
                <tr>
                    <th data-options="field:'ItemNo',width:'120',align:'center',sortable:'true',where:'true'">部门代码</th>
                    <th data-options="field:'ItemName',where:'true'">部门名称</th>
                    <th data-options="field:'Manager',width:'80',align:'center'">部门主管</th>
                    <th data-options="field:'DepTel',width:'80',align:'center'">部门电话</th>
                    <th data-options="field:'DepFax',width:'80',align:'center'">传真</th>
                    <th data-options="field:'IsDisabled',align:'center',formatter:boolFormatter">是否禁用</th>
                </tr>
            </thead>
    </table>
    <div id="div_dialog_search" style="padding:2px;"></div>
    <div id="div_win_edit" style="width:80%;height:328px;padding:2px;overflow:hidden;"></div>
</div>
<script type="text/javascript">

    //#region List
    var url = '/Item/GetDepinfoList?code=' + parent.$("#t_NodeCode").val();
    $(function () {
        //调整datagrid大小
        datagridResize(parent.$("#div_layout"));
        //初始化页面编辑对话框
        showMyWindow($("#div_win_edit"), '编辑部门信息', 'icon-edit', "/Item/DepinfoEdit", 'frame1', true, false, true);
        //创建过滤查询对话框
        getWhereColumns($("#tt_grid"), function (col) {
            var href = '/Item/CreateWhereHTML?col=' + col;
            showMyDialog($("#div_dialog_search"), '筛选条件', 'tu1611', href, 350, true, function () {
                var where = "";
                $("#ttSearch input:text").each(function () {
                    where += '{Key:"' + $(this).attr('name') + '",Value:"' + $.strFilter($(this).val()) + '",Symbol:"like"},';
                });
                if (where != "") {
                    where = "[" + $.trimend(where, ',') + "]";
                    $('#tt_grid').datagrid('options').url = '/Item/GetDepinfoList?code=' + parent.$("#t_PreCode").val() + '&where=' + escape(where);
                    $("#tt_grid").datagrid('load');
                    $('#div_dialog_search').dialog('close');
                }
            });
        });
    });
    var toolbar = [{
        id: 'btnadd',
        text: '添加',
        iconCls: 'icon-add',
        handler: function () {
            window.frames["frame1"].ClearForm();
            $('#div_win_edit').window('open');
        }
    }, '-', {
        id: 'btnedit',
        text: '修改',
        iconCls: 'icon-edit',
        handler: function () {
            var selections = $('#tt_grid').datagrid('getSelections');
            if (selections.length == 1) {
                window.frames["frame1"].LoadForm(selections[0].ID);
                $('#div_win_edit').window('open');
            }
            else
                jqAlert('请选择一条记录！', 'warning')
        }
    }, '-', {
        id: 'btnremove',
        text: '删除',
        iconCls: 'icon-remove',
        handler: function () {
            var selections = $('#tt_grid').datagrid('getSelections');
            if (selections.valueOf() == '')
                jqAlert('请选择一条记录！', 'warning')
            else {
                var id = "(";
                for (var i = 0; i < selections.length; i++) {
                    id += selections[i].ID + ",";
                }
                id += "-1)";
                uiConfirm("您确认要删除当前信息吗.", function () {
                    $.post("/Item/DelDepinfo", { "ID": id }, function (data) {
                        if (data.status == 1) {
                            $("#tt_grid").datagrid('reload');
                        }
                        else
                            jqAlert('删除失败:' + data, 'error')
                    });
                });
            }
        }
    }, '-',
            {
                id: 'btnsearch',
                text: '查询',
                iconCls: 'icon-search',
                handler: function () {
                    $('#div_dialog_search').dialog('open');
                }
            }, '-', {
                id: "btnexport",
                text: '导出',
                iconCls: 'icon-excelcss',
                handler: function () {
                    getExportColumns($("#tt"), function (data) {
                        if (data != "") {
                            $("#tt").datagrid('reload');
                            var url = "/Item/ExportDepinfo?title=" + escape("部门信息") + "&code=" + code + "&columns=" + data;
                            window.open(url);
                        }
                    });
                }
            }];
    var boolFormatter = function (value) {
        if (value == "True") return "是"
        return "否";
    }
    var rowstyler = function (index, row) {
        if (row.IsDisabled == "True") {
            return 'color:#FF0000;';
        }
    }
    //#endregion

</script>