@{
    ViewBag.Title = "新增/编辑部门";
}
 <form id="form_edit" method="post" action="">
        <table width="100%" cellpadding="0" cellspacing="0" align="center" class="tablestyle" id="tt">
            <tr>
                <td class="td1" width="40%">部门代码：</td>
                <td class="td2">
                    <input type="text" id="t_Code" name="Code" required="true" missingMessage='必填' />
                    <input type="hidden" id="t_ItemID" name="ItemID" />
                    <input type="hidden" id="t_ItemNo" name="ItemNo" />
                    <input type="hidden" id="t_ID" name="ID" value="0" />
                </td>
            </tr>
            <tr>
                <td class="td1">部门名称：</td>
                <td class="td2">
                    <input type="text" id="t_ItemName" name="ItemName" required="true" missingMessage='必填' />
                </td>
            </tr>
            <tr>
                <td class="td1">部门主管：</td>
                <td class="td2">
                    <input type="text" id="t_Manager" name="Manager" readonly="readonly" />
                    <input type="hidden" id="t_EmpID" name="EmpID" />
                </td>
            </tr>
            <tr>
                <td class="td1">部门电话：</td>
                <td class="td2">
                    <input type="text" id="t_DepTel" name="DepTel" validtype="isTel" />
                </td>
            </tr>
            <tr>
                <td class="td1">部门传真：</td>
                <td class="td2">
                    <input type="text" id="t_DepFax" name="DepFax" validtype="isFax" />
                </td>
            </tr>
            <tr>
                <td class="td1">是否禁用：</td>
                <td class="td2">
                    <input type="checkbox" id="t_IsDisabled" name="IsDisabled" value="true" />
                </td>
            </tr>
            <tr>
                <td class="td1">备注：</td>
                <td class="td2">
                     <textarea class="txtaa" id="t_Remark" name="Remark" rows="5" cols="30"></textarea>
                </td>
            </tr>
        </table>
    </form>
    <div style="text-align:right;padding:2px;">
        <a class="easyui-linkbutton" iconCls="icon-ok" id="btnSave" href="javascript:void(0)">保存</a>
        <a class="easyui-linkbutton" iconCls="icon-cancel" id="btnClose" href="javascript:void(0)">关闭</a>
    </div>
  <script type="text/javascript">
      var NodeCode = parent.parent.$("#t_NodeCode").val() + ".";
      $(function () {
          //添加textbox样式
          $("#form_edit input:text").each(function () {
              $(this).addClass('easyui-validatebox textbox txt');
              if ($(this).attr('required') || $(this).attr('validtype'))
                  $(this).validatebox();
          });
          $("#t_Code").textbox({
              "buttonText": NodeCode,
              "buttonAlign": "left"
          });
          //保存
          $("#btnSave").click(function () {
              if ($("#form_edit").form('validate')) {
                  $("#t_ItemID").val(parent.parent.$("#t_ID").val());
                  var code = $("#t_Code").textbox("getValue");
                  $("#t_ItemNo").val(NodeCode + code.replace(/\./g, ""));
                  $.ajax({
                      type: "post",
                      url: "/Item/SaveDepinfo?typeID=" + parent.parent.$("#t_NodeType").combobox("getValue"),
                      data: $("#form_edit").serializeArray(),
                      async: false,
                      success: function (data) {
                          if (data.status == 1) {//保存成功
                              parent.$("#tt_grid").datagrid('reload');
                              parent.$('#div_win_edit').window('close');
                          }
                          else {
                              jqAlert('保存失败:' + data, 'error')
                          }
                      }
                  });
              }
          });
          $("#btnClose").click(function () {
              parent.$("#div_win_edit").window("close");
          });
      });
      function ClearForm() {
          $("#form_edit")[0].reset();
          $("#t_ID").val("0");
          $("#t_ItemNo").val("");
      }
      function LoadForm(id) {
          $.get("/Item/GetDepinfo", { "ID": id }, function (data) {
              if (data.status == 1) {
                  var model = data.model;
                  $("#form_edit input").each(function () {
                      var val = model[this.name];
                      if (this.type == "text" || this.type == "hidden") {
                          $(this).val(val);
                      }
                      else if (this.type == "checkbox") {
                          $(this).attr("checked", val == true)
                      }
                  });
                  $("#t_Code").textbox("setValue", $("#t_ItemNo").val().replace(NodeCode, ""));
              }
              else
                  jqAlert('数据加载失败:' + data, 'error')
          });
      }
   </script>

