@{
    ViewBag.Title = "人员信息";
}
<div style="height:100%">
    <table class="easyui-datagrid" id="tt_grid" name="datagrid" width="100%" border="0"
           data-options="title:'员工信息',
                         url:encodeURI(url),
                         pageNumber:page,
                         pageSize:pagesize,
                         onLoadSuccess:loadSuccess,
                         fit:true,
                         rowStyler:rowstyler,
                         toolbar:toolbar
                         ">
            <thead data-options="frozen:true">
                <tr>
                    <th data-options="field:'ck',checkbox:true"></th>
                    <th data-options="field:'ID',hidden:true,title:'ID'"></th>
                    <th data-options="field:'ItemID',hidden:true,title:'ItemID'"></th>
                </tr>
            </thead>
            <thead>
                <tr>
                    <th data-options="field:'FaceSrc',align:'center',formatter:imgFormatter"">头像</th>
                    <th data-options="field:'ItemNo',sortable:'true',where:'true'">用户代码</th>
                    <th data-options="field:'ItemName',where:'true'">用户帐号</th>
                    <th data-options="field:'UserPwd'">用户密码</th>
                    <th data-options="field:'RealName',where:'true'">用户姓名</th>
                    <th data-options="field:'DepName',width:'80',align:'center'">所属部门</th>
                    <th data-options="field:'RoleName',width:'80',align:'center'">用户角色</th>
                    <th data-options="field:'JoinTime',width:'80',align:'center',formatter:dateFormatter">入职时间</th>
                    <th data-options="field:'IsDisabled',align:'center',formatter:boolFormatter">是否禁用</th>
                </tr>
            </thead>
    </table>
    <div id="div_dialog_search" style="padding:2px;"></div>
    <div id="div_dialog_upload" style="padding:2px;width:90%;height:90%;overflow:hidden"></div>
</div>

<script type="text/javascript">
    var page = getUrlParam('page') == '' ? 1 : parseInt(getUrlParam('page'));
    var pagesize = getUrlParam('pagesize') == '' ? 1 : getUrlParam('pagesize');
    var param = {
        "code": parent.$("#t_NodeCode").val(),
        "isDisabled": getUrlParam("choose") == "True" ? "1" : "",
        "where": getUrlParam1("where"),
        "fromCache": getUrlParam1("fromCache") == "false" ? false : true,
        "getUrl": function () {
            return '/Item/GetUserinfoList?fromCache=' + this.fromCache + '&code=' + this.code + '&disabled=' + this.isDisabled + '&where=' + param.where;
        }
    }
    var url = param.getUrl();
    $(function () {
        //调整datagrid大小
        datagridResize(parent.$("#div_layout"));
        //创建过滤查询对话框
        getWhereColumns($("#tt_grid"), function (col) {
            var href = '/Item/CreateWhereHTML?col=' + col;
            showMyDialog($("#div_dialog_search"), '筛选条件', 'tu1611', href, 350, true, function () {
                var where = "";
                $("#ttSearch input:text").each(function () {
                    where += '{Key:"' + $(this).attr('name') + '",Value:"' + $.strFilter($(this).val()) + '",Symbol:"like"},';
                });
                if (where != "") {
                    where = "[" + $.trimend(where, ',') + "]";
                    param.where = where;
                    param.fromCache = false;
                    $('#tt_grid').datagrid('options').url = param.getUrl();
                    $("#tt_grid").datagrid('load');
                }
                $('#div_dialog_search').dialog('close');
            });
        });
        //创建图片上传对话框
        showMyDialog1($("#div_dialog_upload"), '头像上传', 'icon-header', "", "frame1").dialog({
            onOpen: function () {
                var selections = $('#tt_grid').datagrid('getSelections');
                $("#frame1").attr("src", "/Item/UserHeader?ID=" + selections[0].ID);
            },
            onClose: function () {
                var msg = window.frames["frame1"].$("#croped_message").html()
                if (msg != '') {
                    param.fromCache = false;
                    $('#tt_grid').datagrid('options').url = param.getUrl();
                    $("#tt_grid").datagrid('load');
                }
            },
            buttons: [{
                text: '关闭',
                iconCls: 'icon-cancel',
                handler: function () {
                    $("#div_dialog_upload").dialog("close");
                }
            }]
        });
    });
    var backUrl;
    var loadSuccess = function () {
        var p = $('#tt_grid').datagrid('getPager');
        var page = p.data("pagination").options.pageNumber;
        var size = p.data("pagination").options.pageSize;
        backUrl = '/Item/UserinfoManage?where=' + param.where + '&page=' + page + '&pagesize=' + size;
        parent.hideMask();
    }
    var toolbar = [{
        id: 'btnadd',
        text: '添加',
        iconCls: 'icon-add',
        handler: function () {
            parent.showMask();
            document.location = '/Item/UserinfoEdit?code=' + param.code + '&backUrl=' + escape(backUrl) + '&ID=0';
        }
    }, '-', {
        id: 'btnedit',
        text: '修改',
        iconCls: 'icon-edit',
        handler: function () {
            var selections = $('#tt_grid').datagrid('getSelections');
            if (selections.length == 1) {
                parent.showMask();
                document.location = '/Item/UserinfoEdit?code=' + param.code + '&backUrl=' + escape(backUrl) + '&ID=' + selections[0].ID;
            }
            else
                jqAlert('请选择一条记录！', 'warning')
        }
    }, '-', {
        id: 'btnedit',
        text: '设置人事信息',
        iconCls: 'icon-edit',
        handler: function () {
            var selections = $('#tt_grid').datagrid('getSelections');
            if (selections.length == 1) {
                parent.showMask();
                document.location = '/Item/UserPersonalInfo?backUrl=' + escape(backUrl) + '&ID=' + selections[0].ID;
            }
            else
                jqAlert('请选择一条记录！', 'warning')
        }
    }, '-', {
        id: "toolbar_header",
        text: '设置头像',
        iconCls: 'icon-header',
        handler: function () {
            var selections = $('#tt_grid').datagrid('getSelections');
            if (selections.length == 1)
                $("#div_dialog_upload").dialog("open");
            else
                jqAlert('请选择一条记录！', 'warning')
        }
    }, '-', {
        id: 'btnremove',
        text: '删除',
        iconCls: 'icon-remove',
        handler: function () {
            var selections = $('#tt_grid').datagrid('getSelections');
            if (selections.valueOf() == '')
                jqAlert('请选择一条记录！', 'warning')
            else {
                var id = "(";
                for (var i = 0; i < selections.length; i++) {
                    id += selections[i].ID + ",";
                }
                id += "-1)";
                uiConfirm("您确认要删除当前信息吗.", function () {
                    $.post("/Item/DelUserinfo", { "ID": id }, function (data) {
                        if (data.status == 1) {
                            param.fromCache = false;
                            $('#tt_grid').datagrid('options').url = param.getUrl();
                            $("#tt_grid").datagrid('reload');
                        }
                        else
                            jqAlert('删除失败:' + data, 'error')
                    });
                });
            }
        }
    }, '-',
            {
                id: 'btnsearch',
                text: '查询',
                iconCls: 'icon-search',
                handler: function () {
                    $('#div_dialog_search').dialog('open');
                }
            }, '-', {
                id: "btnexport",
                text: '导出',
                iconCls: 'icon-excelcss',
                handler: function () {
                    getExportColumns($("#tt_grid"), function (data) {
                        if (data != "") {
                            $("#tt").datagrid('reload');
                            var url = "/Item/ExportUserinfo?title=" + escape("公司信息") + "&columns=" + data;
                            window.open(url);
                        }
                    });
                }
            }];
    var boolFormatter = function (value) {
        if (value == "True") return "是"
        return "否";
    }
    var imgFormatter = function (value) {
        if (value != "")
            return '<img width="18" height="18" alt="头像" src="' + value + '" />';
        else
            return '<img width="18" height="18" alt="头像" src="/Content/images/face_1.gif" />';

    }
    var rowstyler = function (index, row) {
        if (row.IsDisabled == "True") {
            return 'color:#FF0000;';
        }
    }
    function reloadGird(code) {
        param.code = code;
        param.where = "";
        param.fromCache = true;
        $('#tt_grid').datagrid('options').url = param.getUrl();
        $("#tt_grid").datagrid('load');
    }
</script>